@font-face {
    font-family: Comfortaa;
    src: url(../assets/fonts/Comfortaa.ttf);
}

@keyframes FadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 100;
    }
}

@keyframes GlitchIn {
    
}

@keyframes MainContainerOpen {
    50%{
        left    : 2vw;
        right   : 2vw;
        top     : var(--MainContainerStartTop);
        bottom  : var(--MainContainerStartBottom);
    }
    100%{
        left: 2vw;
        right: 2vw;
        top: 2vw;
        bottom: 2vw;
    }
}

* {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h2{
    font-size: calc(2.5vw + 5vh);
}

p{
    font-size: calc(1vw + 2vh);
}

a{
    color: whitesmoke;
    font-size: calc(1vw + 2vh);
}

body {
    background-image: url(../assets/images/rainbow-lite.jpg);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}

/*
div {
    background-color: aqua;
    background-image: url(../assets/patterns/pattern_01_transparent.png);
    background-repeat:repeat;
    background-size: 20px;
}
*/

img.StretchToFitVertical{
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 200vh;
}

img.AboutLogo{

    width: calc(4.5vw + 4.5vh);
    height: calc(4.5vw + 4.5vh);

}

div.CenterText{
    text-align: center;
}

div.ButtonInner{
    background-image: url(../assets/patterns/pattern_01_transparent.png);
    background-repeat:repeat;
    background-size: 10px;
    
    margin: 5px;
    width: 100%;
    height: 100%;

    font-size: calc(1vh + 1vw);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

div.ButtonOuterBlue{
    transition: all 0.5s;
    background-color: whitesmoke;
    color: #404040;
    width: calc(2.5vw + 2.5vh);
    height: calc(2.5vw + 2.5vh);
    margin: 10px;
}

.ButtonOuterBlue:hover{
    background-color: aquamarine;
    width: calc(5vw + 5vh);
}

div.Section{
    background-image: url(../assets/patterns/pattern_01_transparent.png);
    background-size: 1vw;
    background-color: #404040;

    position: relative;
    
    height: calc(92.5vh - 4vw);
    width: auto;
    
    margin: 1vw;
    padding: 1vw;
    color: whitesmoke;
    overflow: hidden;
}

a.FillDiv {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.Fixed{
    position: fixed;
}

.DecorCorner{
    position: absolute; 
    width: calc(2.5vw + 2.5vh);
    height: calc(2.5vw + 2.5vh);
    image-rendering: pixelated; 
    image-rendering: -moz-crisp-edges;
}

#TitleDiv{
    position: absolute;
    width: 100vw;
    bottom: calc(
        49.75vh
        - 2.5vw
    );

    animation: FadeIn 0.5s;
    animation-delay: 0.0s;
    animation-fill-mode: backwards;

    transition: opacity linear bottom;
    transition-duration: 1s;

    pointer-events: none;
}

#Title {
    font-size: 10vw;
    color: darkgrey;
}

#Sea {
    position: absolute;
    top: 50vh;
    bottom: 0vh;
    left: 0vw;
    right: 0vw;

    display: flex;
    justify-content: center;
    overflow: hidden;

    background-image: url(../assets/images/rainbow.jpg);
    background-size: 100% 100%;

    transition-duration: 1s;
}

#ButtonContainer{
    position: relative;

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    

    width: 100vw;
    top: 50vh;
    right: 0vw;
    left: 0vw;

    animation: FadeIn 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;

    transition: opacity;
    transition-duration: 1s;
}

#MainContainer{
    position: fixed;
    background-image: url(../assets/patterns/pattern_01_transparent.png);
    background-size: 1vw;

    /*width: 2vw;
    height: 2vw;
    bottom: 50vh;
    left: 50vw;*/
    animation-duration: 1s;
    animation-fill-mode: forwards;

    background-color: #49494940;
    opacity: 0;

    transition: opacity;

    pointer-events: none;

    display: flex;

}

#MainContainerInner{
    /*left: 0%;
    right: 0%;*/
    overflow-x: hidden;
    overflow-y: hidden;

    scroll-behavior: smooth;
}

#Navbar{
    background-image: url(../assets/patterns/pattern_01_transparent.png);
    background-size: 1vw;
    background-color: #404040;

    color: whitesmoke;
    text-align: center;

    margin: 1vw;

    transition: width 0.5s ease-out;

    overflow: hidden;
}

div.NavbarButton{
    overflow: hidden;
    background-image: url(../assets/patterns/pattern_01_transparent.png);
    background-size: 1vw;
    background-color: #00000000;

    color: whitesmoke;

    font-size: calc(2vw + 2vh);
    transition: flex-grow 0.5s ease-out, background-color 0.5s ease-out, color 0.1s linear;
    flex-grow: 1;

    writing-mode:vertical-rl;
}

div.NavbarButton:hover{
    flex-grow: 2;
    background-color: pink;
    color: #404040;
}

/*Mobile*/
@media screen and (max-width: 600px) {

}

/*Desktop*/
@media screen and (min-width: 600px) {

    #Navbar{
        width: 3vw;
        display: flex;
        flex-direction: column;
    }

    #MainContainerInner{
        width: 98.5vw;
    }

    #Navbar:hover{
        width: 5vw;

        display: flex;
        flex-direction: column;
    }

}

#IntroductionImageDiv{
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 50%;
}

#IntroductionImage{
    opacity: 10%;
    position: absolute;
    height: calc(95vh - 4vw);
    right: 0%;
    bottom: 0%;
}